
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    a.next {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      
    }
        
    a.next:visited {
      text-decoration: none;
      background-color: #252525;
      color: white;
    }

    a.next:hover {
      text-decoration: none;
      background-color: #ddd;
      color: black;
    }

    a.previous {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      
    }

    a.previous:visited {
      text-decoration: none;
      background-color: #252525;
      color: white;
    }

    a.previous:hover {
      text-decoration: none;
      background-color: #ddd;
      color: black;
    }

    .previous {
      background-color: #252525;
      color: white;
      font-size: xx-large;
    }
        
    .next {
      background-color: #252525;
      color: white;
      font-size: xx-large;
    }
        

</style> 

{% assign prev ={{include.prev}} %}
{% assign next ={{include.next}} %}

<div class="center">
    <a href="https://lincolnphung.com/{{prev}}" class="previous">&#8249;</a>
    <a href="https://lincolnphung.com/{{next}}" class="next">&#8250;</a>
</div>        

