<head>
<link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
{% if site.data.socialmedia %}

<div id="social-media">
    {% assign sm = site.data.socialmedia %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].id %}
            <a href="{{ sm[key].href}}{{ sm[key].id }}" title="{{ sm[key].title}}"><i class="fa {{ sm[key].fa-icon }} fa-3x"></i></a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}