---
layout: page
artnum: 58
---
<br>
Turn around sheets
<img src="/assets/img/proj/green/male_MC_turnaround.jpg" width="1500">
<img src="/assets/img/proj/green/male_MC_turnaround-flat.jpg" width="1500">
<img src="/assets/img/proj/green/male_MC_turnaround-render.jpg" width="1500">