---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
 
<!-- May want to find out more about .image to format images better -->
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    .about-section2 {
      padding: 10px;
      text-align: right;
      background-color: #f5f5f5;
      color: rgb(56, 56, 56);
    }

    .about-section {
      padding: 50px;
      text-align: left;
      background-color: #ffffff;
      color: rgb(56, 56, 56);
    }

    .container {
      /*max-width: 1100px; */
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

    .containerabout {
     /* max-width: 1100px; */
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

    .containerhead {
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
      background-color: #f5f5f5;
    }

    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    * {
      box-sizing: border-box;
    }

    @media screen and (max-width: 1000px) {
      .container {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
/* Responsive layout, makes a 2 column layout instead of five*/
    @media screen and (max-width: 800px) {
      .container {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
  </style>
   </head>
</style>
</head>
<body>

<div class="about-section2">
  <div class="containerabout">
    <h1> About Me</h1>
    {% include social-media-links.html %}
  </div>


<!--  </div><div class="containerhead">
  <h1>
    About me
  </h1>
    {% include social-media-links.html %}
</div>
-->

<div class="about-section">
  <div class="container">
  {{content}}
  </div>
</div>


</body>
</html>
