---
layout: default
---
<article class="bio" itemscope itemtype="http://schema.org/Person">
  <header class="page-header" style="display: flex;">
    <div style="width: 25%;">
      {% include figure.html url=page.picture max-width="90%" %}
    </div>

    <div style="width: 75%;">
      <h1 class="page-title" itemprop="name" style="width: 80%;">
        {{ page.name }}
      </h1>

      {% if page.position %}
        <span class="bio-position" itemprop="jobTitle">
          {{ page.position }}
        </span>
      {% endif %}

      {% if page.email %}
        <br>
        {% include icon-email.html email=page.email %}
      {% endif %}

      {% if page.github %}
        <br>
        {% include icon-github.html username=page.github %}
      {% endif %}

      {% if page.gitlab %}
        <br>
        {% include icon-gitlab.html username=page.gitlab %}
      {% endif %}

      {% if page.instagram %}
        <br>
        {% include icon-instagram.html username=page.instagram %}
      {% endif %}

      {% if page.linkedin %}
        <br>
        {% include icon-linkedin.html id=page.linkedin username=page.name %}
      {% endif %}

      {% if page.twitter %}
        <br>
        {% include icon-twitter.html username=page.twitter %}
      {% endif %}

      {% if page.youtube %}
        <br>
        {% include icon-youtube.html id=page.youtubeId username=page.youtubeChannel %}
      {% endif %}
    </div>
  </header>

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
