---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
 
<!-- May want to find out more about .image to format images better -->
  <style>

/* This is for stylizing the heading section */
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    .about-section {
      padding: 10px;
      text-align: center;
      background-color: #f5f5f5;
      color: rgb(56, 56, 56);
    }

    .containerabout {
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

    .containerhead {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: center;
    }

/* This section is css code to create the overlay when hovering the image */
    .container {
      position: relative;
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
    }
    
    .image {
      display: block;
      width: auto;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
    }
    
    .container:hover .overlay {
      opacity: 0.5;
    }
    
    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    

/* This section is css code in order to create the image grid */
    * {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }

/* Create FIVE equal columns, this is controled with the % value out of 100 */
/*    .column {
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }
*/
/*
    .column img{
    
      vertical-align: middle;
      width: 100%
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }
*/
    @media screen and (max-width: 1000px) {
      .container {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
      }
      .containerabout {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
/* Responsive layout, makes a 2 column layout instead of five*/
    @media screen and (max-width: 800px) {
      .container {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
      .containerabout {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
    

/* Responsive layout - makes two columns stack on top instead of next to each other -- Lincoln: confused slightly, but understand this takes over at 600px screen width  */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
      .about-section {
        padding: 20px;
      }
    }

  </style>
   </head>

<div class="about-section">
  <div class="containerabout">
    <h1>Concepts</h1>
    <!-- <p>From 2021/04/02 until 2022/04/02 I challenged myself to create a painting everyday. A mixture of studies and also original concepts in order to train my fundamental art skills, concepting, and to practice a quick turn-around time. 
      Below are original concepts from this time period. All 365 paintings are archived on my instagram.</p>
    -->
  </div>

</div>

<!-- This is the PhotoGrid -->
<!-- I have no idea how the [1] works to access my database, but it does. -->

<!-- Pseudocode
  This Doc:
  sticky header: links = character, environment, etc etc
  
  % if link is x = photogrid, sort by tag "x"% 
  % if link is y =... sort by tag "y" %

  Conceptart.yml
  Each image given tag. 
-->


<div class="row">
{% for img in site.data.artwork%}
  <div class="container">
    <a href= "{% link {{img[1].url}} %}">
      <img src= "{{img[1].thumbpath}}" style="width:100%">
      <div class="overlay">
        <div class="text">{{img[1].arttitle}}</div>
      </div>
    </a>
  </div>
{% endfor %}
</div>

<!--
  <div class="row">
    <div class="container">
      <a href= "{% link Artwork/samurai-ghosts.html %}"> 
      <img src= "/assets/img/square thumbnails/Samurai Ghosts.jpg" style="width:100%">
      <div class="overlay">
        <div class="text">Samurai Ghosts</div>
      </div>
      </a>
    </div>

    <div class="container">
      <img src= "/assets/img/square thumbnails/Another World.jpg" style="width:100%">
      <div class="overlay">
        <div class="text">Another World</div>
      </div>
    </div>

    <div class="container">
      <img src= "/assets/img/square thumbnails/Archers.jpg" style="width:100%">
      <div class="overlay">
        <div class="text">Archers</div>
      </div>
    </div>

    <div class="container">
      <img src= "/assets/img/square thumbnails/Fire Archer.jpg" style="width:100%">
      <div class="overlay">
        <div class="text">Fire Archer</div>
      </div>
    </div>
    
    <div class="container">
      <img src= "/assets/img/square thumbnails/Girl on Dragon.jpg" style="width:100%">
      <div class="overlay">
        <div class="text">Another World</div>
      </div>
    </div>

    <div class="container">
      <img src= "/assets/img/square thumbnails/Guard.jpg" style="width:100%">
      <div class="overlay">
        <div class="text">Guard</div>
      </div>
    </div>
  </div>
  -->
    <!-- <img src= "/assets/img/square thumbnails/Hot Air Balloon.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Monkey Journey 2.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Monkey Journey 3.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Motorcycle.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Pirate Adventure.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Monkey Journey.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Scifi Escape.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Scifi Idea 1.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Scifi Snow Hike.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Archers.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Archers.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Bike Alley.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Buchart Gardens.jpg" style="width:100%">
    <img src= "/assets/img/square thumbnails/Monkey Journey.jpg" style="width:100%">
    --> 
  

<!-- This code uses YAML to cycle through images, try it manually first 
{% for file in site.static_files %}
	{% if file.image %}
    <div class="container">
	    <a target="_self" href="{{file.path}}">
		  <img src="{{file.path}}" alt="{file.name}" class="image">
      <div class="overlay">
        <div class="text">{{file.name | remove: ".jpg"}}</div>
      </div>
		  </a>
  </div>
  <p>{{file.path}}</p>
	{% endif %}
{% endfor %}
-->  

<!-- Manual Testing
<div class="container">
  <a target="_self" href="/assets/img/studies/d.jpg">
    <img src="/assets/img/studies/d.jpg" alt="d.jpg" class="image">
    <div class="overlay">
      <div class="text"> test</div>
    </div>
  </a>
</div> 
-->
</html>