---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
 
<!-- May want to find out more about .image to format images better -->
  <style>

/* This is for stylizing the heading section */
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    .about-section {
      padding: 10px;
      text-align: center;
      background-color: #f5f5f5;
      color: rgb(56, 56, 56);
    }

    .containerabout {
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

    .containerhead {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: center;
    }

/* This section is css code to create the overlay when hovering the image */
    .container {
      position: relative;
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
    }
    
    .image {
      display: block;
      width: auto;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
    }
    
    .container:hover .overlay {
      opacity: 0.5;
    }
    
    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
/* Stylizing the buttons */
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #ddd;
    }

    .btn.active {
      background-color: #666;
      color: white;
    }
/* Stylizing the images - TEMP -       display: none;*/
    .filterDiv {
      display: none;
    }

    /* The "show" class is added to the filtered elements */
    .show {
      display: block;
    }
/* This section is css code in order to create the image grid */
    * {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }


    @media screen and (max-width: 1000px) {
      .container {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
      }
      .containerabout {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
/* Responsive layout, makes a 2 column layout instead of five*/
    @media screen and (max-width: 800px) {
      .container {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
      .containerabout {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
    

/* Responsive layout - makes two columns stack on top instead of next to each other -- Lincoln: confused slightly, but understand this takes over at 600px screen width  */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
      .about-section {
        padding: 20px;
      }
    }

</style>
</head>

<div id="BtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> All</button>
    <button class="btn" onclick="filterSelection('environment')"> Environments & Props</button>
    <button class="btn" onclick="filterSelection('character')"> Characters & Creatures</button>
</div>
<!-- 
<div class="container">
    <div class="filterDiv environment">
        <a href="{% link Artwork/castle4.html %}">
            <img src="/assets/img/square thumbnails/castle2.jpg">
            <div class="overlay">
                <div class="text">Castle Env 4</div>
            </div>
        </a>
    </div>
</div>
<div class="container">
    <div class="filterDiv environment character">
        <a href="{% link Artwork/tws-raiders-2.html %}">
            <img src="/assets/img/proj/weather/thumbnail-2.jpg">
            <div class="overlay">
                <div class="text">"The Weather Station - Raiders 2"</div>
            </div>
        </a>
    </div>
</div>
<div class="container">
    <div class="filterDiv character">
        <a href="{% link Artwork/agp-warrior.html %}">
            <img src="/assets/img/square thumbnails/thumb-char.jpg">
            <div class="overlay">
                <div class="text">"A Green Phlonia - Warrior"</div>
            </div>
        </a>
    </div>
</div>
-->


{% for img in site.data.artwork2.imagelist%}
    <div class="container">
      <div class="{{img.filter}}">
        <a href= "{% link {{img.url}} %}">
          <img src= "{{img.thumbpath}}" style="width:100%">
            <div class="overlay">
                <div class="text">{{img.arttitle}}</div>
            </div>
        </a>
      </div>
    </div>
{% endfor %}


<script>
    filterSelection("all")

//.indexOf(c) returns the first instance of "c", so if the selection includes "c", appends the "show"
// attribute, allowing the image to pop up.
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }
    
    
    // Arr 1 splits the class name for each entry into an array: i.e. filterDiv character environment
    // turns into Array [filterDiv, character, environment]
    // Conditional: If the class name/filter does not have "show" in it, then append "show" into it


    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        console.log(arr1);
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }
    
    // Removes the "show" in the class name i.e. [filterDiv, character, show] --> [filterDiv, character]
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("BtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>


</html>