---
layout: default
---
<style>
  .imageContainer{
    height:80vh;
    object-fit:cover;
  }
  
  img {
    display:block;
    width:auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .imghorizontal {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }

  /* Create three unequal columns that sits next to each other */
  .column {
    padding: 5px;
  }
  /* Small column */
  .column.small {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  /* Left and right column */
  .column.side {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 30px;
  }

  /* Middle column */
  .column.middle {
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .imageContainer {
      width:auto;
      height: 100%;
    }
  }

  /* For the buttons  */
  .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
  }
  a.next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    
  }
      
  a.next:visited {
    text-decoration: none;
    background-color: #252525;
    color: white;
  }

  a.next:hover {
    text-decoration: none;
    background-color: #ddd;
    color: black;
  }

  a.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    
  }

  a.previous:visited {
    text-decoration: none;
    background-color: #252525;
    color: white;
  }

  a.previous:hover {
    text-decoration: none;
    background-color: #ddd;
    color: black;
  }

  .previous {
    background-color: #252525;
    color: white;
    font-size: xx-large;
  }
      
  .next {
    background-color: #252525;
    color: white;
    font-size: xx-large;
  }
        
</style>

<!-- Looping through the database to find THIS page's image and using 
database properties to populate the page: title, image path. -->
{% assign i = -1 %}
{% for artwork in site.data.artwork2.imagelist %}
  {% assign i = i | plus:1 %}

  {% if artwork.artnum == page.artnum %}
    {% assign thisart = site.data.artwork2.imagelist[i] %}
  {% endif %}
{% endfor %}

<div class="row">
  <div class="column side" style="background-color:rgb(255, 255, 255);">
    <article class="post">



      <header class="post-header">
        <h1 class="post-title">{{ thisart.arttitle }}</h1>
      </header>
    </div>

    <div class="column middle" style="background-color:rgb(255, 255, 255);">
      <div class="post-content">

        {% if thisart.orientation == "v" %}
          <img src="{{thisart.imgpath}}" class="imageContainer">
        {% else %}
          <img src="{{thisart.imgpath}}" class="imghorizontal">
        {% endif %}


<!-- Additional content on each webpage goes here-->
        {{ content }}

<!-- Obtaining information for 'next' and 'previous' buttons-->
<!-- Loop through each item in the artwork database, counting until we get to THIS page
    then, retrieves the url information for the next entry and previous entry -->
      {% assign counter = 0 %}
      {% for item in site.data.artwork2.imagelist %} 
<!--   Unneeded, tells the size of the loop
        {% assign gallerysize = forloop.length %}-->     
        {% assign counter = counter | plus:1 %}

        {% if item.artnum == page.artnum %} 
        
        {% assign nxtcounter = counter %}
        {% assign prevcounter = counter | minus:2 %}



        {% endif %}

      {% endfor %}

      {% assign nxt_url = site.data.artwork2.imagelist[nxtcounter].url%}
      {% assign prev_url = site.data.artwork2.imagelist[prevcounter].url%}

      {% unless nxt_url %}
        {% assign nxt_url = "concept-art.md" %}
      {% endunless %}

      {% unless prev_url %}
        {% assign prev_url = "concept-art.md" %}
      {% endunless %}

      {% if prevcounter == -1 %}
        {% assign prev_url = "concept-art.md" %}
      {% endif %}


      {% if thisart.collection %}
        {% for collections in site.data.collections.collectionlist %}
          {% if thisart.collection == collections.collectionnum %}
            This is a part of <b> {{collections.collectionname}} </b> collection, to see more click <a href="{% link {{collections.url}}%}"> here </a>
          {% endif %}
        {% endfor %}
      {% endif %}
      </div>
    </div>


    
    <div class="column small" style="background-color:rgb(255, 255, 255);">


<!-- if the previous item does not exist (this is the first item in the dataset), the back button
links to the home page -->
<!-- if the next item does not exist (this is the final item in the dataset), the next button
links to the homepage -->


<!-- otherwise, link to the corresponding next and previous pages-->
    <a href="{% link {{prev_url}} %}" class="previous">&#8249;</a>
    <a href="{% link {{nxt_url}} %}" class="next">&#8250;</a>


    </div>

  </article>
</div>
<!-- OG
<article class="post">
  {% assign artnum = site.data.artwork[page.artnum] %}
  <header class="post-header">
    <h1 class="post-title">{{ artnum.arttitle }}</h1>
  </header>


  <div class="post-content">
    {{ content }}
  </div>
  {% capture p_url %}{{artnum.p_url}}{% endcapture %}
  
  {% capture n_url %}{{artnum.n_url}}{% endcapture %}

  {% include buttons.html prev=p_url next=n_url %}
  

</article>
-->