---
layout: default
---
<style>
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 5px;
}
/* Small column */
.column.small {
  -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}
/* Left and right column */
.column.side {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;
   padding: 30px;
}

/* Middle column */
.column.middle {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>

<div class="row">
  <div class="column side" style="background-color:rgb(255, 255, 255);">
    <article class="post">
      {% assign artnum = site.data.artwork[page.artnum] %}
      <header class="post-header">
        <h1 class="post-title">{{ artnum.arttitle }}</h1>
      </header>
    </div>

    <div class="column middle" style="background-color:rgb(255, 255, 255);">
      <div class="post-content">
        {{ content }}
      </div>
    </div>


    {% capture p_url %}{{artnum.p_url}}{% endcapture %}
    
    {% capture n_url %}{{artnum.n_url}}{% endcapture %}

    
    <div class="column small" style="background-color:rgb(255, 255, 255);">
      {% include buttons.html prev=p_url next=n_url %}
    </div>

  </article>
</div>
<!-- OG
<article class="post">
  {% assign artnum = site.data.artwork[page.artnum] %}
  <header class="post-header">
    <h1 class="post-title">{{ artnum.arttitle }}</h1>
  </header>


  <div class="post-content">
    {{ content }}
  </div>
  {% capture p_url %}{{artnum.p_url}}{% endcapture %}
  
  {% capture n_url %}{{artnum.n_url}}{% endcapture %}

  {% include buttons.html prev=p_url next=n_url %}
  

</article>
-->