---
layout: default
---
<style>
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<article class="post">
  {% assign artnum = site.data.studies[page.artnum] %}
  <header class="post-header">
    <h1 class="post-title">{{ artnum.arttitle }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>