---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 5px;
}
/* Small column */
.column.small {
  -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}
/* Left and right column */
.column.side {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;
   padding: 30px;
}

/* Middle column */
.column.middle {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>
<body>


  <div class="row">
    <div class="column side" style="background-color:rgb(255, 255, 255);">
      {% include project-description.html title=page.title description=page.description quote=page.quote tools=page.tools %}
      
    </div>
    <div class="column middle" style="background-color:rgb(255, 255, 255);">
      {{content}}
    </div>

      {% assign projnum = site.data.project[page.projnum] %}

      {% capture p_url %}{{projnum.p_url}}{% endcapture %}
    
      {% capture n_url %}{{projnum.n_url}}{% endcapture %}
  
    
    <div class="column small" style="background-color:rgb(255, 255, 255);">
      {% include buttons.html prev=p_url next=n_url %}
    </div>
  
    </div>
  
  </div>

<!-- Old

<div class="row">
  <div class="column side" style="background-color:rgb(255, 255, 255);">
    <h1>The Ghost Samurai</h1>
    This personal project started from a desire to explore one of my daily concept paintings more indepth. 
    <br>
    <br>
    <blockquote><i>A rising daimyo's castle is taken over by a vengeful ghost of a samurai he once commanded.</i> </blockquote>
    <br>
    Photoshop, substance designer, marmoset toolbag, blender were used.
    <br>
    
    </div>
  <div class="column middle" style="background-color:rgb(255, 255, 255);">
    {{content}}

    </div>
  
  <div class="column small" style="background-color:rgb(255, 255, 255);">
    </div>

    </div>

</div>
-->

</body>
</html>


