---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
 
<!-- May want to find out more about .image to format images better -->
  <style>

/* This is for stylizing the heading section */
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    .about-section {
      padding: 10px;
      text-align: right;
      background-color: #f5f5f5;
      color: rgb(56, 56, 56);
    }

    .containerabout {
     /* max-width: 1100px; */
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

    .containerhead {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: center;
    }

/* This section is css code to create the overlay when hovering the image */
    .container {
      position: relative;
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
    }
    
    .image {
      display: block;
      width: auto;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
    }
    
    .container:hover .overlay {
      opacity: 0.5;
    }
    
    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    

/* This section is css code in order to create the image grid */
    * {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }

/* Create FIVE equal columns, this is controled with the % value out of 100 */
/*    .column {
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }
*/
/*
    .column img{
    
      vertical-align: middle;
      width: 100%
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }
*/
    @media screen and (max-width: 1000px) {
      .container {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
      }
      .containerabout {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
/* Responsive layout, makes a 2 column layout instead of five*/
    @media screen and (max-width: 800px) {
      .container {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
      .containerabout {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        margin: 0;
        padding: 0;
        margin-top: 0;
      }
      .about-section {
        padding: 20px;
      }
    }
    

/* Responsive layout - makes two columns stack on top instead of next to each other -- Lincoln: confused slightly, but understand this takes over at 600px screen width  */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
      .about-section {
        padding: 20px;
      }
    }

  </style>
   </head>

    
<div class="about-section">
  <div class="containerabout">
    <h1>Projects</h1>
  </div>

</div>


<!-- This is the PhotoGrid -->
<!-- I have no idea how the [1] works to access my database, but it does. -->

<div class="row">
{% for img in site.data.project%}
  <div class="container">
    <a href= "{% link {{img[1].url}} %}">
      <img src= "{{img[1].thumbpath}}" style="width:100%">
      <div class="overlay">
        <div class="text">{{img[1].arttitle}}</div>
      </div>
    </a>
  </div>
{% endfor %}
</div>
</html>