---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
 
<!-- May want to find out more about .image to format images better -->
  <style>
/* Styling for Modal Images */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top:100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black; 
    }

    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;
    }

    .close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }

    .mySlides {
      display: none;
    }

    .cursor { 
      cursor: pointer;
    }

/* Buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
/* Styling for the header */
    .about-section {
      padding: 10px;
      text-align: center;
      background-color: #ffffff;
      color: rgb(56, 56, 56);
    }

    .containerabout {
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

/* This section creates the accordian */
    .accordion {
      background-color: rgb(255, 255, 255);
      color: #f5f5f5;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 30px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #dddddd; 
    }

    .accordion:after {
      content: '\02C6';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\02C7";
    }


    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
    

/* This section is css code to create the overlay when hovering the image */
    .container {
      position: relative;
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
    }
    
    .image {
      display: block;
      width: auto;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
    }
    
    .container:hover .overlay {
      opacity: 0.5;
    }
    
    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .texttitle {
      color: rgb(56, 56, 56);
      font-size: 22px;
    }

    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    

/* This section is css code in order to create the image grid */
    * {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }



    @media screen and (max-width: 1000px) {
      .container {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
      }
    }
/* Responsive layout, makes a 2 column layout instead of five*/
    @media screen and (max-width: 800px) {
      .container {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    

/* Responsive layout - makes two columns stack on top instead of next to each other -- Lincoln: confused slightly, but understand this takes over at 600px screen width  */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }

  </style>
   </head>

<!-- This is the PhotoGrid -->
<!-- I have no idea how the [1] works to access my database, but it does. -->

<!-- Pseudocode
  This Doc:
  sticky header: links = movie studies, plein air, fanart, other
  
  % if link is movie studies = photogrid, sort by tag "movie studies"% 
  % if link is x =... sort by tag "x"

  Studies.yml
  Each image given tag. 
-->

<div class="about-section">
  <div class="containerabout">
    <h1>Studies</h1>

  </div>

</div>


<!-- Different Accordian versions below -->
<button class="accordion"> <div class="texttitle"> Plein Air </div> </button>
<div class="panel" display="block">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "plein-air" %}
      <div class="container">
        <a href="{% link {{item.url}} %}">
          <img src="{{item.thumbpath}}" style="width:100%">
          <div class="overlay">
            <div class="text">{{item.arttitle}}</div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>


<button class="accordion"> <div class="texttitle"> Movie Studies </div> </button>
<div class="panel">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "movie-studies" %}
      <div class="container">
        <a href="{% link {{item.url}} %}">
          <img src="{{item.thumbpath}}" style="width:100%">
          <div class="overlay">
            <div class="text">{{item.arttitle}}</div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<button class="accordion"> <div class="texttitle"> Fan-art </div> </button>
<div class="panel">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "fan-art" %}
      <div class="container">
        <a href="{% link {{item.url}} %}">
          <img src="{{item.thumbpath}}" style="width:100%">
          <div class="overlay">
            <div class="text">{{item.arttitle}}</div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>


<button class="accordion"> <div class="texttitle"> Other </div> </button>
<div class="panel">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "other" %}
      <div class="container">
        <a href="{% link {{item.url}} %}">
          <img src="{{item.thumbpath}}" style="width:100%">
          <div class="overlay">
            <div class="text">{{item.arttitle}}</div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<script>
  
var acc = document.getElementsByClassName("accordion");
var i;


for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

acc[0].classList.toggle("active");
acc[0].nextElementSibling.style.display = "block";

</script>

<!--
<div class="row">
{% for img in site.data.studies%}
  <div class="container">
    <a href= "{% link {{img[1].url}} %}">
      <img src= "{{img[1].thumbpath}}" style="width:100%">
      <div class="overlay">
        <div class="text">{{img[1].arttitle}}</div>
      </div>
    </a>
  </div>
{% endfor %}
</div>
</html>

-->