---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
 
<!-- May want to find out more about .image to format images better -->
  <style>
    .imageContainer{
    /* background-color: black; */
    display: block;
    height:80vh;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;

    }
/* Styling for Modal Images */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top:100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
      position: relative;
      background-color: #fefefe00;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;
    }

    .close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }

    .mySlides {
      display: none;
    }

    .myFilmSlides {
      display: none;
    }

    .myFanArtSlides {
      display: none;
    }

    .myOtherSlides {
      display: none;
    }

    .cursor { 
      cursor: pointer;
    }

/* Buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
/* Styling for the header */
    .about-section {
      padding: 10px;
      text-align: center;
      background-color: #ffffff;
      color: rgb(56, 56, 56);
    }

    .containerabout {
      margin: 0 auto;
      padding: 0 3rem;
      margin-top: 0;
      text-align: left;
    }

/* This section creates the accordian */
    .accordion {
      background-color: rgb(255, 255, 255);
      color: #f5f5f5;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 30px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #dddddd; 
    }

    .accordion:after {
      content: '\02C6';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\02C7";
    }


    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
    

/* This section is css code to create the overlay when hovering the image */
    .container {
      position: relative;
      -ms-flex: 20%;
      flex: 20%;
      max-width: 20%;
    }
    
    .image {
      display: block;
      width: auto;
      height: auto;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
    }
    
    .container:hover .overlay {
      opacity: 0.5;
    }
    
    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .texttitle {
      color: rgb(56, 56, 56);
      font-size: 22px;
    }

    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    

/* This section is css code in order to create the image grid */
    * {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px;
    }



    @media screen and (max-width: 1000px) {
      .container {
        -ms-flex: 33%;
        flex: 33%;
        max-width: 33%;
      }
    }
/* Responsive layout, makes a 2 column layout instead of five*/
    @media screen and (max-width: 800px) {
      .container {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    

/* Responsive layout - makes two columns stack on top instead of next to each other -- Lincoln: confused slightly, but understand this takes over at 600px screen width  */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }

  </style>
   </head>


<div class="about-section">
  <div class="containerabout">
    <h1>Studies</h1>

  </div>
</div>


<!-- Accordions: Plein air, film studies, fan-art, and other -->


<button class="accordion"> <div class="texttitle"> Plein Air </div> </button>
<div class="panel" display="block">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "plein-air" %}
    <!-- {% increment counter %} -->
      <div class="container">
        <img src="{{item.thumbpath}}" style="width:100%">
        <div class="overlay" onclick="openPleinAirModal();currentSlide({{counter}})">
          <div class="text" >{{item.arttitle}}</div>
        </div>
      </div>
    
    {% endif %}
  {% endfor %}
  </div>
</div>

<div id="PleinAirModal" class="modal">
  <span class="close cursor" onclick="closePleinAirModal()">&times;</span>
  <div class="modal-content">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "plein-air" %}
    <div class="mySlides">
      <img src="{{item.imgpath}}" class="imageContainer"> 
    </div>
    

    {% endif %}
  {% endfor %}
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>

<!--Accordion for Film Studies -->
<button class="accordion"> <div class="texttitle"> Movie Studies </div> </button>
<div class="panel">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "movie-studies" %}
    <!-- {% increment counterfilm %}-->
      <div class="container">
        <img src="{{item.thumbpath}}" style="width:100%">
        <div class="overlay" onclick="openFilmModal();filmcurrentSlide({{counterfilm}})">
          <div class="text">{{item.arttitle}}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div id="FilmModal" class="modal">
  <span class="close cursor" onclick="closeFilmModal()">&times;</span>
  <div class="modal-content">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "movie-studies" %}
    <div class="myFilmSlides">
      <img src="{{item.imgpath}}" class="imageContainer"> 
    </div>
    

    {% endif %}
  {% endfor %}
  <a class="prev" onclick="filmplusSlides(-1)">&#10094;</a>
  <a class="next" onclick="filmplusSlides(1)">&#10095;</a>
  </div>
</div>


<!--Accordion for Fan Art -->
<button class="accordion"> <div class="texttitle"> Fan-art </div> </button>
<div class="panel">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "fan-art" %}
    <!-- {% increment counterfanart %}-->
      <div class="container">
        <img src="{{item.thumbpath}}" style="width:100%">
        <div class="overlay" onclick="openFanArtModal();fanartcurrentSlide({{counterfanart}})">
          <div class="text">{{item.arttitle}}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div id="FanArtModal" class="modal">
  <span class="close cursor" onclick="closeFanArtModal()">&times;</span>
  <div class="modal-content">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "fan-art" %}
    <div class="myFanArtSlides">
      <img src="{{item.imgpath}}" class="imageContainer"> 
    </div>
    

    {% endif %}
  {% endfor %}
  <a class="prev" onclick="fanartplusSlides(-1)">&#10094;</a>
  <a class="next" onclick="fanartplusSlides(1)">&#10095;</a>
  </div>
</div>



<!--Accordion for Other -->
<button class="accordion"> <div class="texttitle"> Other </div> </button>
<div class="panel">
  <div class="row">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "other" %}
    <!-- {% increment counterother %}-->
      <div class="container">
        <img src="{{item.thumbpath}}" style="width:100%">
        <div class="overlay" onclick="openOtherModal();othercurrentSlide({{counterother}})">
          <div class="text">{{item.arttitle}}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div id="OtherModal" class="modal">
  <span class="close cursor" onclick="closeOtherModal()">&times;</span>
  <div class="modal-content">
  {% for item in site.data.studies2.imagelist %}
    {% if item.type == "other" %}
    <div class="myOtherSlides">
      <img src="{{item.imgpath}}" class="imageContainer"> 
    </div>
    

    {% endif %}
  {% endfor %}
  <a class="prev" onclick="otherplusSlides(-1)">&#10094;</a>
  <a class="next" onclick="otherplusSlides(1)">&#10095;</a>
  </div>
</div>



<script>
// Script for Accordion 
var acc = document.getElementsByClassName("accordion");
var i;


for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

acc[0].classList.toggle("active");
acc[0].nextElementSibling.style.display = "block";

// Script for Modal Image Gallery
function openPleinAirModal() {
  document.getElementById("PleinAirModal").style.display = "block";
}

function openFilmModal() {
  document.getElementById("FilmModal").style.display = "block";
}


function openFanArtModal() {
  document.getElementById("FanArtModal").style.display = "block";
}

function openOtherModal() {
  document.getElementById("OtherModal").style.display = "block";
}

function closePleinAirModal() {
  document.getElementById("PleinAirModal").style.display = "none";
}

function closeFilmModal() {
  document.getElementById("FilmModal").style.display = "none";
}

function closeFanArtModal() {
  document.getElementById("FanArtModal").style.display = "none";
}

function closeOtherModal() {
  document.getElementById("OtherModal").style.display = "none";
}

// Slide counter for Plein-Air studies
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");

  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }

  slides[slideIndex-1].style.display = "block";
}

//Slide counter for Film Studies

var filmslideIndex = 1;
filmshowSlides(filmslideIndex);

function filmplusSlides(n) {
  filmshowSlides(filmslideIndex += n);
}

function filmcurrentSlide(n) {
  filmshowSlides(filmslideIndex = n);
}

function filmshowSlides(n) {
  var i;
  var slides = document.getElementsByClassName("myFilmSlides");

  if (n > slides.length) {filmslideIndex = 1}
  if (n < 1) {filmslideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }

  slides[filmslideIndex-1].style.display = "block";
}

//Slide counter for Fan Art

var fanartslideIndex = 1;
fanartshowSlides(fanartslideIndex);

function fanartplusSlides(n) {
  fanartshowSlides(fanartslideIndex += n);
}

function fanartcurrentSlide(n) {
  fanartshowSlides(fanartslideIndex = n);
}

function fanartshowSlides(n) {
  var i;
  var slides = document.getElementsByClassName("myFanArtSlides");

  if (n > slides.length) {fanartslideIndex = 1}
  if (n < 1) {fanartslideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }

  slides[fanartslideIndex-1].style.display = "block";
}

//Slide counter for Other Art
var otherslideIndex = 1;
othershowSlides(otherslideIndex);

function otherplusSlides(n) {
  othershowSlides(otherslideIndex += n);
}

function othercurrentSlide(n) {
  othershowSlides(otherslideIndex = n);
}

function othershowSlides(n) {
  var i;
  var slides = document.getElementsByClassName("myOtherSlides");

  if (n > slides.length) {otherslideIndex = 1}
  if (n < 1) {otherslideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }

  slides[otherslideIndex-1].style.display = "block";
} 

</script>

<!--
<div class="row">
{% for img in site.data.studies%}
  <div class="container">
    <a href= "{% link {{img[1].url}} %}">
      <img src= "{{img[1].thumbpath}}" style="width:100%">
      <div class="overlay">
        <div class="text">{{img[1].arttitle}}</div>
      </div>
    </a>
  </div>
{% endfor %}
</div>
</html>

-->