---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
 
  <style>
/* This section is css code to create the overlay when hovering the image */
    .container {
      text-align: center;
    }

    .overlay {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #000000;
    }
    
    .container:hover .overlay {
      opacity: 0.5;
    }
    
    .text {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .textview {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }


    *, *:before, *:after {
    box-sizing: border-box;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 20%;
        }

    .button:hover {
    background-color: rgb(255, 255, 255);
    }

    .row {
      display: -webkit-flex;
      /* display: -ms-flexbox; */
      display: flex;
      /* -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom:0px; */
    }

    .padding {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    }

    /* .row:after {
      content: "";
      display: table;
      clear: both;
    } */
    
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin-right: 20px;
    text-align: center;
    background-color: #f1f1f1;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    }

    @media screen and (max-width: 650px) {
      .row {
      -webkit-flex-direction: column;
      flex-direction: column;
      }
    }

    
</style>
</head>
<body>
<h2 style="text-align:center">Awarded video tutorials and written articles for Clip Studio Paint's "Tips of the Month" </h2>

<div class="row">
  <div class="padding">
  </div> 
    <div class="card">
      <div class="container">
        <h2>Beginner Portraits <br> [Top award]</h2>
        <iframe src="https://youtube.com/embed/VOn73VTfBnc">
        </iframe>
        <a href="https://tips.clip-studio.com/en-us/articles/4044" class="button">Article</a>
         
      </div>
    </div>

  
    <div class="card">
      <div class="container">
        <h2>Painting Transparent Objects <br> [Top award]</h2>
        <iframe src="https://youtube.com/embed/Ag1zxbaAJUo">
        </iframe>
        <a href="https://tips.clip-studio.com/en-us/articles/3467" class="button">Article</a>
      </div>
    </div>
    
    <div class="card">
      <div class="container">
        <h2>Shading Techniques (Old) <br> [Top award]</h2>
        <iframe src="https://youtube.com/embed/XbnnMEaZcqg">
        </iframe>
        <a href="https://tips.clip-studio.com/en-us/articles/3051" class="button">Article</a>
      </div>
   </div>

      <div class="card">
        <div class="container">
          <h2>Painting Flowers (Old) <br> [Top award]</h2>
          <iframe src="https://youtube.com/embed/XjihR4r9xew">
          </iframe>
          <a href="https://tips.clip-studio.com/en-us/articles/2757" class="button">Article</a>
        </div>
      </div>

      <div class="card">
        <div class="container">
          <h2>Auto-actions and RGB Channels <br> [Silver award]</h2>
          <iframe src="https://youtube.com/embed/SxgHvmgfhc4">
          </iframe>
          <a href="https://tips.clip-studio.com/en-us/articles/3599" class="button">Article</a>
        </div>
      </div>

      <div class="padding">
      </div> 
  </div>

</body>

</html>
    